<template>
  <div>
    <agile
      :nav-buttons="false"
      :autoplay-speed="5000"
      :speed="2500"
      fade="fade"
      pause-on-hover="pause-on-hover"
      pause-on-dots-hover="pause-on-dots-hover"
      autoplay="autoplay"
    >
      <div>
        <p class="position-absolute carousel-text text-center text-uppercase text-position fs-md-3 fs-1 ">
          power solution at all times
        </p>
        <img class="slide" src="@/static/solar3.jpg">
      </div>
      <div class="">
        <p class="position-absolute carousel-text text-center text-uppercase text-white text-position fs-md-3 fs-1">
          Innovative green energy
        </p>
        <img class="slide" src="@/static/solar2.jpg">
      </div>
      <div>
        <p class="position-absolute carousel-text text-center text-uppercase text-white text-position fs-md-3 fs-1">
          Need alternative energy, think solarisit
        </p>
        <img class="slide" src="@/static/solar1.jpg">
      </div>
    </agile>
    <div class="text-center fw-bolder fs-1 py-2 welcome-header text-uppercase">
      <TextScrambler :text="text" :scramble-duration="scrambleDuration" />
    </div>
  </div>
</template>
<script>
import { VueAgile } from 'vue-agile'
import TextScrambler from 'text-scrambler'

export default {
  components: {
    agile: VueAgile,
    TextScrambler
  },
  data () {
    return {
      text: 'Welcome to solarisit ',
      scrambleDuration: 50
    }
  },
  mounted () {
    this.goat()
  },
  methods: {
    goat () {
      setTimeout(function () {
        this.text = 'There!'
      }, 10000)
    }
  }
}
</script>
<style>
.welcome-header {
  font-family: 'Rampart One', cursive;
  background-color: #8de31565;
}

.text-position {
  top: 25%;
  left: 25%;
  right: 25%;
}

.carousel-text {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.agile__dots {
  bottom: 10px;
  flex-direction: column;
  right: 30px;
  position: absolute;
}
.agile__dot {
  margin: 5px 0;
}
.agile__dot button {
  background-color: transparent;
  border: 1px solid #8CE315;
  cursor: pointer;
  display: block;
  height: 13px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: .3s;
  width: 13px;
}
.agile__dot--current button, .agile__dot:hover button {
    background-color: #8CE315;
}
.slide {
  display: block;
  height: 500px;
  object-fit: cover;
  width: 100%;
}

</style>
