<template>
  <div>
    <footer class=" text-center">
      <div class="footer-about py-4">
        <div class="container">
          <h3 class="text-uppercase footer-header">
            who we are
          </h3>
          <p class="footer-text">
            Solarisit Limited was incorporated in January 2019 as a provider of Clean, Green, Affordable, and Affordable Solar energy.  We are the exclusive distributors of the USA-made <b>Clean Green Solar Machine</b> (CGSM), the very versatile Mobile Power Plant.
          </p>
        </div>
      </div>
      <div class="contact-footer py-4">
        <div class="container flex-column flex-md-row d-flex justify-content-between p-2">
          <div class="w-25 m-auto ">
            <img src="@/static/logo.png" class="img-fluid" alt="">
          </div>
          <div class="text-left my-2">
            <h3 class="text-white text-uppercase mb-4 contact-footer-header footer-header text-center">
              Corporate head office
            </h3>
            <section class="mb-3 px-3">
              <h4 class="text-warning">
                PHONE NUMBER:
              </h4>
              <a href="tel:+2348034513465" class="d-block text-white footer-text">09091212206</a>
              <a href="tel:+2348113767809" class="d-block text-white footer-text">09091212206</a>
              <a href="tel:+2348023994781" class="d-block text-white footer-text">09091212206</a>
            </section>
            <section class="mb-3 px-3">
              <h4 class="text-warning">
                EMAIL:
              </h4>
              <a href="mailto:info@solarisit.com.ng" class="d-block text-white footer-text">info@solarisit.com.ng</a>
              <a href="email:sales@solarisit.com.ng" class="text-white footer-text">sales@solarisit.com.ng</a>
            </section>
            <section class="mb-3 px-3">
              <h4 class="text-warning">
                ADDRESS:
              </h4>
              <p class="text-white footer-text">
                Block 52A  Plot 28A, Omorinre Johnson, Lekki Phase1, Lagos State.
              </p>
            </section>
          </div>
          <div class="my-2">
            <h3 class="text-white text-uppercase mb-4 contact-footer-header text-center footer-header">
              Corporate head office
            </h3>
            <form action="">
              <div class="d-flex flex-md-row flex-column">
                <input type="text" class="d-inline-block mr-md-2 mb-2 mb-md-0 w-auto" placeholder="name">
                <input id="" type="email" name="" class="d-inline-block w-auto" placeholder="email">
              </div>
              <textarea
                id=""
                name=""
                rows="8"
                placeholder="message"
                class="d-block mt-2 w-100"
              />
              <button class="btn btn-outline-success mt-2">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<style scoped>
.footer-about {
    background: #CEF09E;
}

.footer-header {
  font-family: 'Rampart One', cursive;
}

.footer-text {
    font-weight: 300;
}
.contact-footer {
    background-color: #163528;
    border-top: 3px solid #FEB400;
}

.footer-text {
    font-weight: 300;
}

input, textarea {
    background-color: #feb600b4;
    border: none;
    border-bottom: 2px solid #feb600;
    padding: 2px 5px;

}

.btn-submit {
    float: left;
}

</style>
