<template>
  <div class="nav-wrapper p-3">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <NuxtLink to="/" class="navbar-brand w-25">
          <img src="@/static/logo.png" class="d-block h-auto mw-100 w-25" alt="">
        </NuxtLink>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" />
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" />
          <ul class="d-flex navbar-nav">
            <li class="nav-item">
              <NuxtLink
                to="/#steps"
                class="nav-link fw-bold text-uppercase"
              >
                Home
              </NuxtLink>
            </li>
            <li class="nav-item dropdown">
              <a
                id="navbarScrollingDropdown"
                class="nav-link dropdown-toggle fw-bold text-uppercase"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                About SolarisIt
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Who We Are</a></li>
                <li><a class="dropdown-item" href="#">Management</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Our Partners</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <NuxtLink
                to="/#steps"
                class="nav-link fw-bold text-uppercase"
              >
                Products
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink
                to="/#steps"
                class="nav-link fw-bold text-uppercase"
              >
                Applications
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink
                to="/#faq"
                class="nav-link fw-bold text-uppercase"
              >
                specs
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink
                to="/#faq"
                class="nav-link fw-bold text-uppercase"
              >
                faq
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink
                to="/login"
                class="nav-link fw-bold text-uppercase"
              >
                Contact us
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<style scoped>
.nav-wrapper {
    background-color: #163528;

}

nav {
  font-family: 'Lato', sans-serif;;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffffd8;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #DFD500;
}

.navbar {
  padding: 0;
}
</style>
