<template>
  <div>
    <navigation />
    <carousel />
    <div class="home-card">
      <div class="container pb-5">
        <h2 class="text-uppercase py-4 fw-2 text-center card-intro">
          Our products
        </h2>
        <div class="row">
          <div class="col-sm-6 col-md-4 mb-md-0 mb-3">
            <div class="card h-100">
              <h5 class="card-header text-uppercase lh-base">
                Clean Green Solar Machine Personal Power Plant
              </h5>
              <div class="card-body">
                <p class="card-text">
                  The Clean Green Solar Machine (CGSM) is the first scalable Personal Power Plant and is the future of reliable and uninterrupted renewable energy.
                </p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn footer-btn bottom-0">Go somewhere <i class="fas fa-chevron-circle-right ml-2 text-center" /></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mb-md-0 mb-3">
            <div class="card h-100">
              <h5 class="card-header text-uppercase lh-base">
                Clean Green Solar Machine Boost Unit
              </h5>
              <div class="card-body">
                <p class="card-text">
                  The CGSM Boost is our largest unit with an industry leading 24kWH of storage. The Boost is a separate battery bank that plugs directly into the Clean Green Solar Machine Personal Power Plant.
                </p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn footer-btn bottom-0">Go somewhere <i class="fas fa-chevron-circle-right ml-2 text-center" /></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-md-0 mb-3 col-sm-6">
            <div class="card h-100">
              <h5 class="card-header text-uppercase lh-base">
                Clean Green Solar Machine Mobile Power Plant
              </h5>
              <div class="card-body">
                <p class="card-text">
                  The Clean Green Solar Machine Mobile Power Plant allows the user to experience all the benefits of the Clean Green Solar Machine, but with added mobility as the system is a towable grid.
                </p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn footer-btn bottom-0"> Go somewhere <i class="fas fa-chevron-circle-right ml-2 text-center" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-middle">
      <div class="d-flex justify-content-between py-5 align-items-center container flex-column flex-md-row">
        <div>
          <img class="img-fluid " src="@/static/CopyofAngledWscreenshadow.png" alt="">
        </div>
        <div class="text-italic text intro">
          <p>Power for Your Home Clean Energy On-The-GoDon’t Lose Your Power When The Grid Does</p>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
export default {}
</script>

<style>
*,
*::after,
*::before{
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-weight: 900;
}
.image-bg {
  background-color: #163528;
}

.home-card {
  background-image: url('@/static/bgmiddle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-header {
  background-color: #163528;
  color: white;
  font-weight: 700;
}

.card-body {
  font-weight: 300;
}

.card-intro {
  font-weight: 900;
}

.footer-btn {
  background-color: #8de31565;
}

.intro {
  font-family: 'Rampart One', cursive;
  color: #fff;
  font-size: 1.5rem;
}

.bg-middle {
  background-image: url('@/static/black-bg-.png');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
